*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Tahoma, sans-serif;
}

.game-container{
    background-color: rgb(35, 103, 167);
    margin: 3em;
    padding: 2em;
    border-radius: 25px;
}

/* MAKE THE LITTERS DROP ANIMATION***************************************** */

.title{
    text-align: center;
}

.controls{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
}

.reset{
    cursor: pointer;
}

.status{
    color: rgb(122, 9, 9);
}


.grid{
    display: grid;
    margin-top: 25px;
    background: rgb(23, 67, 109) ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 12px;
}

.grid-cell{
    height: 150px;
    width: 150px;
    background: rgb(35, 103, 167);
    cursor: pointer;
}