@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image: url("bgimage.jpeg");
    background-color: rgb(0, 0, 0);
    font-family: Tahoma, sans-serif;
}

.game-container{
    background-color: rgb(35, 103, 167);
    margin: 3em;
    padding: 2em;
    border-radius: 25px;
}


.controls{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-size: 20px;
}

.reset{
    cursor: pointer;
    font-family: 'Black Ops One', cursive;

}

.reset:hover{
  color: black;
}

.status{
    color: rgb(255, 255, 255);
    font-family: 'Black Ops One', cursive;

}

.won::after {
  color: #490303;
}


.grid{
    display: grid;
    margin-top: 25px;
    background: rgb(23, 67, 109) ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 12px;
}

.grid-cell{
  display: flex;
  justify-content: center;
  align-items: center;
    height: 150px;
    width: 150px;
    background: rgb(35, 103, 167);
    cursor: pointer;
}
.x, .o {
  cursor: default;
  font-family: 'Splash', cursive;
}

.x::after{
  content: 'x';
  font-size: 150px;
  font-family: 'Splash', cursive;
}

.o::after{
  content: 'o';
  font-size: 150px;
  font-family: 'Splash', cursive;
}

.button {
  display: inline-block;
  width: 100%;
  appearance: button;
  font-family: din-round,sans-serif;
  background-color: #471c1f;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  margin-top: 20em;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:after {
  background-clip: padding-box;
  background-color: #7c3c41;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.button:hover{
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}



.title {
  font-size: 30px;
  margin: 20px;
  color: #490303;
  text-align: center;
  font-family: 'Rock Salt', cursive;

}



@media only screen and (max-width: 768px) {
  .grid {
    margin-top: 25px;
    grid-gap: 8px;
  }

  .grid-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 100px;
  }

  .controls{
    margin: 15px;
    font-size: 18px;
}

  .title {
    font-size: 25px;
    margin: 15px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  
  }
}


@media only screen and (max-width: 440px) {

  .grid {
    grid-gap: 6px;
  }

  .grid-cell {
    height: 85px;
    width: 80px;
  }

  .x::after {
    font-size: 60px;
  }

  .o::after {
    font-size: 65px;
  }


  .controls{
    margin: 10px;
    font-size: 14px;
}

  .title {
    font-size: 21px;
    margin: 0px;
  }

}


@media only screen and (max-width: 320px) {

  .grid {
    grid-gap: 5px;
  }

  .grid-cell {
    height: 65px;
    width: 60px;
  }

  .x::after {
    font-size: 50px;
  }

  .o::after {
    font-size: 55px;
  }


  .controls{
    margin: 5px;
    font-size: 12px;
}

  .title {
    font-size: 18px;
    margin: 0px;
  }

}